@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Karla:wght@400;600;700&display=swap");

:root {
	--nav-bg-color: #343541;
	--text-bg-color: #f7f7f8;
}

* {
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

@media screen and (max-width: 767px) {
	/* Nav bar */
	nav {
		background-color: var(--nav-bg-color);
		padding: 0.75rem 0.75rem;
	}

	.icon {
		font-size: 1.5rem;
	}

	.nav__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--text-bg-color);
	}
}
